@import "../../../../scss/Variables.scss";

section.option{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid $base-border;
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}