@import "../../../../scss/Variables.scss";

main.page-main {
    padding: 10px;
    min-height: $max-content-width;
}

@media (min-width: $screen-sm-min) {
    main.page-main {
        padding: 20px;
    }
}

@media (min-width: $screen-md-min) {
    main.page-main {
        padding: 25px 30px;
    }
}

@media (min-width: $screen-lg-min) {
    main.page-main {
        padding: 30px 40px;
    }
}