@import "../../../../scss/Variables.scss";

.model-item {
    border: 1px solid $base-border;
    min-height: 150px;
    margin: 10px 0;
    padding: 10px;
    header {
        min-height: 30px;
    }
    main ul {
        margin: 10px -10px;
    }
    footer {
        margin-bottom: 20px;
        min-height: 30px;
        a {
            float: right;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .model-item {
        margin: 15px 0;
        padding: 15px;
    }
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}