@import "../../../../scss/Variables.scss";

.model-item {
    border: 1px solid $base-border;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
}

@media (min-width: $screen-sm-min) {
    .model-item {
        margin: 15px 0;
        padding: 15px;
    }
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}