@import "../../../../scss/Variables.scss";

button {
    background-color: $red-base;
    border: 1px solid $base-border;
    float: right;
    &:hover {
        background-color: $red-dark-hover;
        cursor: pointer;
    }
}