@import "../../../../scss/Variables.scss";

section.models-list {
    padding-top: 10px;
    .models-list-title {
        color: $red-base;
    }
    .model-item:nth-of-type(1) {
        margin-top: 30px;
    }
}

@media (min-width: $screen-sm-min) {
    section.models-list {
        padding-top: 15px;
    }
}

@media (min-width: $screen-md-min) {
    section.models-list {
        padding-top: 20px;
    }
}

@media (min-width: $screen-lg-min) {
    section.models-list {
        padding-top: 25px;
    }
}