@import "../../../../scss/Variables.scss";

footer.page-footer {
    background: $black-base;
    width: 100%;
    height: 100px;
}

@media (min-width: $screen-sm-min) {
    footer.page-footer {
        width: 100%;
        height: 75px;
    }
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}