@import "../../../../scss/Variables.scss";

.footer {
    background: $black-base;
    .footer-desktop {
        width: 100%;
        height: 100px;
    }
    .footer-mobile {
        width: 100%;
        height: 50px;
    }
}