@import "../../../../scss/Variables.scss";

header.main-header {
    background: $black-base;
    width: 100%;
    height: 100px;
}

@media (min-width: $screen-sm-min) {
    header.main-header {
        width: 100%;
        height: 75px;
    }
}