@import "../../../../scss/Variables.scss";

.header {
    background: $black-base;
    .header-desktop {
        width: 100%;
        height: 100px;
    }
    .header-mobile {
        width: 100%;
        height: 50px;
    }
}